server:
  port: 8080

spring:
  application:
    name: gateway-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,flyway,env
  endpoint:
    health:
      probes:
        enabled: true
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
    otlp:
      tracing:
        endpoint: http://tempo.tracing.svc.cluster.local:4318
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  server:
    port: ${server.port}
